* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  width: 90%;
  background-color: #4fc08d;
  color: white;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 15px;
  text-align: center;
}

#events {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 2rem auto;
  width: 90%;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
}

#events h2 {
  color: #4fc08d;
  font-size: 2rem;
  border-bottom: 4px solid #4fc08d;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

#events button {
  cursor: pointer;
  border: 2px solid #4fc08d;
  background-color: white;
  color: #4fc08d;
  font-weight: 800;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  margin: 0 1rem;
}

#events button:hover,
#events button:active {
  background-color: #4fc08d;
  color: white;
}

#events ul {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
}

#events li {
  margin: 1rem 0;
  list-style: none;
  font-size: 1.25rem;
  font-weight: 800;
  background-color: #4fc08d;
  color: white;
  padding: 1rem;
  border-radius: 10px;
}

#events input {
  padding: 0.5rem;
  border-radius: 10px;
  border: 2px solid #4fc08d;
}
