<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1>Vue Event</h1>
    </header>
    <section id="events">
      <h2>Events in Actions</h2>
      <button v-on:click="increment(10)">Add</button>
      <button @click="decrement(5)">Subtract</button>
      <!-- can replace "v-on:" with "@" -->
      <!-- v-bind:value shorthand is :value -->
      <p>Result : {{counter}}</p>
      <input type="text" placeholder="type name" v-model="name" />
      <input type="text" placeholder="last name" v-model="lastName" />
      <button v-on:click.prevent="resetInput">Reset Input</button>
      <p>Your Name : {{fullname}}</p>
    </section>
  </body>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="app.js"></script>
</html>
